.img-nft {
    margin: 10px;
    border-radius: 10px;
    width: 70px;
    height: 100px;
    align-content: center;
    filter: drop-shadow(10px 10px 10px rgb(194, 194, 194));
    
}

.img-logo {

    border-radius: 20px;
    max-width: 150px;
    align-content: center;

}